rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/entries/{entryId} {
      function isCurrentUser() {
        return request.auth.uid == userId;
      }
      function isValidEntryProperty(value) {
        return request.resource.data[value] is number && request.resource.data[value] > 0;
    	}
    	allow read: if isCurrentUser();
      allow write: if isCurrentUser() &&
        isValidEntryProperty('systolic') &&
        isValidEntryProperty('diastolic') &&
        isValidEntryProperty('pulse');
    }
  }
}
