:root {
  --app-item-background-rgb: 138, 138, 138;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
}

/**
 * Buttons
 */
.app-button {
  border: 0;
  cursor: pointer;
  font-size: 1em;
  margin-top: 1rem;
  padding: 0.5em;
  width: 100%;
}
